<div class="container">
  <div class="row">
    <div class="offset-md-1"></div>
      <div class="col-md-8 offset-md-3">
        <h2>ログイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h4>会員の方はこちらからログイン</h4>
          <table>
            <tr>
              <th><%= f.label :メールアドレス %></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
            </tr>
            <tr>
              <th><%= f.label :パスワード %></th>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
            <tr>
              <th></th>
              <td><%= f.submit "ログイン" %></td>
            </tr>
          </table>
        <% end %>
        <h4>会員登録がお済みでない方</h4>
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>