<%= form_with model: @user, url:user_path, method: :patch, local:true do |f| %>
  <%= f.label :"名前" %>
  <%= f.text_field :name %>
  
  <%= f.label :"画像" %>
  <%= f.file_field :image %>
  
  <%= f.label :"プローフィール" %>
  <%= f.text_area :introduction %>
  
  <div class="sex-field">
    <%= f.label :"性別" %><br />
    <%= f.label :man  %>
    <%= f.radio_button :sex, :man %>
    <%= f.label :woman  %>
    <%= f.radio_button :sex, :woman %>
  </div>
  
  <%= f.submit '変更する' %>
  
<% end %>